<header id="header">
  <h1 id="logo"><a href="/">MobileShop</a></h1>
  <nav id="nav">
    <ul>
      <li class="admin-dropdown" [class.hidden]="!auth.isAdmin()">
        <a class="admin-toggle" tabindex="0">Admin Panel ▾</a>
        <ul class="dropdown">
          <li><a routerLink="/products">Products</a></li>
          <li><a routerLink="/inventory">Inventory</a></li>
        </ul>
      </li>
      <li><a routerLink="/">Shop</a></li>
      <ng-container *ngIf="!auth.isLoggedIn(); else loggedIn">
        <li><a routerLink="/login">Sign In</a></li>
      </ng-container>

      <ng-template #loggedIn>
        <li><span>Hi, {{ auth.getUsername() }}!</span></li>
        <li><a (click)="logout()" style="cursor:pointer;">Log Out</a></li>
      </ng-template>
    </ul>
  </nav>
</header><div class="shop-layout">


  <h2 class="shop-title">Shop</h2>
  <p class="shop-subtitle">Browse our latest products</p>

  <h3 class="section-title">Best Deals</h3>

  <div class="carousel">
    <div class="carousel-track">
      <mat-card
        class="carousel-item"
        *ngFor="let p of carouselProducts"
      >
        <img
          mat-card-image
          [src]="productImages[p.productId]
        ? 'https://localhost:7275' + productImages[p.productId]
        : 'assets/placeholder.png'"
          alt="{{ p.productName }}"
        >

        <mat-card-content>
          <h3>{{ p.productName }}</h3>
          <p>{{ p.price }} KM</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- FILTER BAR -->
  <mat-card class="filter-bar">
    <div class="filter-row">

      <!-- Search -->
      <mat-form-field appearance="outline" class="filter-search">
        <mat-label>Search products</mat-label>
        <input matInput [formControl]="searchControl" />
      </mat-form-field>

      <!-- Category -->
      <mat-form-field appearance="outline" class="filter-select">
        <mat-label>Category</mat-label>
        <mat-select>
          <mat-option value="">All</mat-option>
          <!-- for categories -->
        </mat-select>
      </mat-form-field>

    </div>
  </mat-card>

  <h3 class="section-title">All Products</h3>

  <!-- product grid -->
  <section class="product-grid">
    <mat-grid-list cols="3" gutterSize="16px" rowHeight="400px">
      <mat-grid-tile *ngFor="let p of products">

        <mat-card class="product-card">
          <img
            mat-card-image
            [src]="productImages[p.productId]
        ? 'https://localhost:7275' + productImages[p.productId]
        : 'assets/placeholder.png'"
            alt="{{ p.productName }}"
          >

          <button mat-icon-button color="warn" (click)="toggleFavorite(p)">
            <mat-icon>
              {{ isFavorite(p.productId) ? 'favorite' : 'favorite_border' }}
            </mat-icon>
          </button>

          <mat-card-content>
            <h3>{{ p.productName }}</h3>
            <p>{{ p.price | currency }}</p>
          </mat-card-content>

          <mat-card-actions align="end">
            <button mat-button color="primary">
              View
            </button>
          </mat-card-actions>
        </mat-card>

      </mat-grid-tile>
    </mat-grid-list>
  </section>

  <mat-paginator
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="[6, 9, 12]"
    (page)="onPageChange($event)">
  </mat-paginator>

</div>
