<div class="auth-container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="register-form">

    <div style="display:flex; justify-content:flex-end; gap:8px;">
      <button mat-stroked-button type="button"
              (click)="setLang('bs')"
              [disabled]="currentLang === 'bs'">
        BS
      </button>

      <button mat-stroked-button type="button"
              (click)="setLang('en')"
              [disabled]="currentLang === 'en'">
        EN
      </button>
    </div>
<!--
    <h2>Create account</h2>
    <p class="subtitle">Join our Mobile Shop platform</p> -->

    <h2>{{ 'REGISTER.TITLE' | translate }}</h2>
    <p class="subtitle">{{ 'REGISTER.SUBTITLE' | translate }}</p>


    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'REGISTER.FULL_NAME' | translate }}</mat-label>
      <input
        matInput
        type="text"
        placeholder="Name Surname"
        formControlName="fullName"
      />

      <mat-error *ngIf="form.get('fullName')?.hasError('required')">
        {{ 'ERRORS.FULL_NAME_REQUIRED' | translate }}
      </mat-error>

      <mat-error *ngIf="form.get('fullName')?.hasError('minlength')">
        {{ 'ERRORS.FULL_NAME_MIN' | translate }}
      </mat-error>

      <mat-error *ngIf="form.get('fullName')?.hasError('pattern')">
        {{ 'ERRORS.FULL_NAME_PATTERN' | translate }}
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'REGISTER.EMAIL' | translate }}</mat-label>

      <input matInput type="email" placeholder="example@mail.com" formControlName="email"/>

      <mat-error *ngIf="form.get('email')?.hasError('required')">
        {{ 'ERRORS.EMAIL_REQUIRED' | translate }}
      </mat-error>

      <mat-error *ngIf="form.get('email')?.hasError('email') || form.get('email')?.hasError('pattern')">
        {{ 'ERRORS.EMAIL_INVALID' | translate }}
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'REGISTER.PASSWORD' | translate }}</mat-label>
      <input matInput type="password" placeholder="Minimum 8 characters" formControlName="password"
        (input)="checkPasswordStrength(form.get('password')?.value)" />

      <mat-error *ngIf="form.get('password')?.hasError('required')">
        {{ 'ERRORS.PASSWORD_REQUIRED' | translate }}
      </mat-error>

      <mat-error *ngIf="form.get('password')?.hasError('minlength')">
        {{ 'ERRORS.PASSWORD_MIN' | translate }}
      </mat-error>
    </mat-form-field>

    <!-- PASSWORD STRENGTH METER -->
    <div class="password-meter" *ngIf="form.get('password')?.value">
      <div
        class="password-meter-bar"
        [class.weak]="passwordStrenght === 1"
        [class.medium]="passwordStrenght === 2"
        [class.strong]="passwordStrenght === 3"
        [style.width.%]="passwordStrenght * 33"
      ></div>

      <span class="password-label">{{ passwordStrenghtLabel }}</span>
    </div>


    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'REGISTER.CONFIRM_PASSWORD' | translate }}</mat-label>
      <input matInput type="password" placeholder="Repeat password" formControlName="confirmPassword"/>

      <mat-error *ngIf="form.get('confirmPassword')?.hasError('passwordMismatch')">
        {{ 'ERRORS.PASSWORD_MISMATCH' | translate }}
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary"
              type="submit" [disabled]="loading || form.invalid">
      {{ loading
      ? ('REGISTER.LOADING' | translate)
      : ('REGISTER.SUBMIT' | translate)
      }}
    </button>

    <p class="login-text">
      {{ 'REGISTER.HAVE_ACCOUNT' | translate }}
      <button type="button" routerLink="/login" class="login-button">
        {{ 'REGISTER.LOGIN' | translate }}
      </button>
    </p>

  </form>
</div>

