<form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Sign in</h2>

  <label>
    Username
    <input formControlName="username" placeholder="Enter username" />
  </label>
  <div class="error" *ngIf="f['username'].touched && f['username'].errors?.['required']">
    Username is required
  </div>

  <label>
    Password
    <input type="password" formControlName="password" placeholder="Enter password" />
  </label>
  <div class="error" *ngIf="f['password'].touched && f['password'].errors?.['required']">
    Password is required
  </div>
  <div class="error" *ngIf="f['password'].touched && f['password'].errors?.['minlength']">
    Minimum 6 characters
  </div>

  <button type="submit" [disabled]="loading || form.invalid">Login</button>

  <div class="error" *ngIf="errorMsg">{{ errorMsg }}</div>
</form>
