
<div>
  <div style="display:inline-flex; justify-content:right; gap:8px; margin-bottom:12px;">
  <button mat-stroked-button type="button"
          (click)="setLang('bs')"
          [disabled]="currentLang === 'bs'">BS</button>

  <button mat-stroked-button type="button"
          (click)="setLang('en')"
          [disabled]="currentLang === 'en'">EN</button>
</div>
<mat-horizontal-stepper class="login-form" linear>


  <!-- STEP 1-->
  <mat-step [stepControl]="usernameForm">
    <form [formGroup]="usernameForm">
      <h2>{{ 'LOGIN.TITLE' | translate }}</h2>
      <div class="step-content">
        <label>Email</label>
        <input formControlName="username" placeholder="Email" />
      
      </div>

      <div class="error"
           *ngIf="usernameForm.get('username')?.touched && usernameForm.get('username')?.hasError('required')">
        Email is required
      </div>

      <div class="actions">
        <button mat-raised-button color="primary"
                matStepperNext
                [disabled]="usernameForm.invalid">
          {{ 'LOGIN.NEXT' | translate }}
        </button>
      </div>

      <p class="helper">
        {{'LOGIN.REGISTER_TEXT' | translate}}
        <button type="button" routerLink="/register" class="register-button">{{'LOGIN.REGISTER_BTN' | translate}}</button>
      </p>
    </form>
  </mat-step>


  <!-- STEP 2 -->
  <mat-step [stepControl]="passwordForm">
    <form [formGroup]="passwordForm">
      <h2>{{'LOGIN.PASSWORD_LBL' | translate}}</h2>
      <div class="step-content">
        <label>{{'LOGIN.PASSWORD' | translate}}</label>
        <input type="password" formControlName="password" placeholder="Enter password" />
      </div>

      <div class="error"
           *ngIf="passwordForm.get('password')?.touched && passwordForm.get('password')?.hasError('required')">
        Password is required
      </div>
      <re-captcha [siteKey]="siteKey" (resolved)="onCaptchaResolved($event)"></re-captcha>
        <div class="error" *ngIf="passwordForm.get('recaptchaToken')?.touched && passwordForm.get('recaptchaToken')?.hasError('required')">
          Captcha is required
        </div>

      <div class="actions">
        <button mat-button matStepperPrevious type="button">
          {{'LOGIN.BACK' | translate}}
        </button>

        <button mat-raised-button color="accent"
                type="button"
                (click)="loginWizard()"
                [disabled]="loading || passwordForm.invalid">
          {{ loading ? 'Logging in...' : 'Login' }}
        </button>
      </div>

      <p class="helper">
        <a href="#" class="forgot-link">{{'LOGIN.FORGOT' | translate}}</a>
      </p>

    </form>
  </mat-step>

</mat-horizontal-stepper>

</div>