<mat-horizontal-stepper class="login-form" linear>

  <!-- STEP 1-->
  <mat-step [stepControl]="usernameForm">
    <form [formGroup]="usernameForm">
      <h2>Sign in</h2>
      <div class="step-content">
        <label>Email</label>
        <input formControlName="username" placeholder="Enter Email" />
      
      </div>

      <div class="error"
           *ngIf="usernameForm.get('username')?.touched && usernameForm.get('username')?.hasError('required')">
        Email is required
      </div>

      <div class="actions">
        <button mat-raised-button color="primary"
                matStepperNext
                [disabled]="usernameForm.invalid">
          Next
        </button>
      </div>

      <p class="helper">
        Don't have an account?
        <button type="button" routerLink="/register" class="register-button">Register</button>
      </p>
    </form>
  </mat-step>


  <!-- STEP 2 -->
  <mat-step [stepControl]="passwordForm">
    <form [formGroup]="passwordForm">
      <h2>Enter password</h2>
      <div class="step-content">
        <label>Password</label>
        <input type="password" formControlName="password" placeholder="Enter password" />
      </div>

      <div class="error"
           *ngIf="passwordForm.get('password')?.touched && passwordForm.get('password')?.hasError('required')">
        Password is required
      </div>

      <div class="actions">
        <button mat-button matStepperPrevious type="button">
          Back
        </button>

        <button mat-raised-button color="accent"
                type="button"
                (click)="loginWizard()"
                [disabled]="loading || passwordForm.invalid">
          {{ loading ? 'Logging in...' : 'Login' }}
        </button>
      </div>

      <p class="helper">
        <a href="#" class="forgot-link">Forgot password?</a>
      </p>

    </form>
  </mat-step>

</mat-horizontal-stepper>
