<h2>{{ data.product ? 'Edit product' : 'Add new product' }}</h2>

<div mat-dialog-content style="display:grid; gap:14px; padding-top: 8px;">
  <form [formGroup]="form" style="display:grid; gap:14px;">
    <mat-form-field appearance="outline">
      <mat-label>Product name</mat-label>
      <input matInput formControlName="productName">
      <mat-error *ngIf="form.get('productName')?.hasError('required')">Required</mat-error>
      <mat-error *ngIf="form.get('productName')?.hasError('minlength')">Min 2 characters</mat-error>
      <mat-error *ngIf="form.get('productName')?.hasError('maxlength')">Max 100 characters</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Model</mat-label>
      <input matInput formControlName="model">
      <mat-error *ngIf="form.get('model')?.hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price">
      <mat-error *ngIf="form.get('price')?.hasError('required')">Required</mat-error>
      <mat-error *ngIf="form.get('price')?.hasError('min')">Cannot be negative</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Brand</mat-label>
      <mat-select formControlName="brandId">
        <mat-option *ngFor="let b of data.brands" [value]="b.brandId">{{ b.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('brandId')?.hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Supplier</mat-label>
      <mat-select formControlName="supplierId" >
        <mat-option *ngFor="let s of data.suppliers" [value]="s.supplierId">{{ s.supplierName }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('supplierId')?.hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let c of data.categories" [value]="c.categoryId">{{ c.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('categoryId')?.hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Promotion (optional)</mat-label>
      <mat-select formControlName="promotionId" >
        <mat-option [value]="null">None</mat-option>
        <mat-option *ngFor="let p of data.promotions" [value]="p.promotionId">{{ p.promotionName }}</mat-option>
      </mat-select>
    </mat-form-field>
    
    
    <label style="display:block; margin: 8px 0 6px; color: black !important;">Images (optional)</label>

    <div *ngIf="data.existingImages?.length" style="margin:10px 0;">
  <div style="font-size:12px; opacity:.7; margin-bottom:6px;">Existing images</div>

  <div style="display:flex; gap:10px; flex-wrap:wrap;">
    <img *ngFor="let img of data.existingImages"
         [src]="'https://localhost:7275' + img.imagePath"
         style="width:92px;height:92px;object-fit:cover;border-radius:10px;border:1px solid #e5e5e5;" />
  </div>
</div>

<input
  #fileInput
  type="file"
  accept="image/*"
  multiple
  (change)="onFileSelected($event)"
  hidden
/>

<div
  class="dropzone"
  [class.dragging]="isDragging"
  (dragenter)="onDragEnter($event)"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  <div style="display:flex; flex-direction:column; gap:6px; align-items:center;">
    <div style="font-weight:600;">Drag & drop images here</div>
    <div style="font-size:12px; opacity:.7;">or</div>

    <button mat-stroked-button type="button" (click)="fileInput.click()">
      Select images (max 5)
    </button>
  </div>
</div>

<div *ngIf="selectedFiles.length">
  {{ selectedFiles.length }} image(s) selected
</div>


<!-- Preview -->
<div *ngIf="selectedFiles.length" style="margin-top:10px; display:flex; flex-direction:column; gap:10px;">
  <!-- Thumbnails grid -->
  <div style="display:flex; gap:10px; flex-wrap:wrap;">
    <div *ngFor="let p of previewUrls; let i = index"
         style="width:92px; display:flex; flex-direction:column; gap:6px;">

      <img [src]="p"
           alt="preview"
           (click)="openImagePreview(p)"
           style="width:92px; height:92px; object-fit:cover; border-radius:10px; border:1px solid #e5e5e5; cursor: zoom-in;" />

      <button mat-stroked-button type="button" (click)="removeImage(i)">
        Remove
      </button>
    </div>
  </div>
  <!-- Remove all -->
  <div>
    <button mat-button type="button" (click)="clearImages()">
      Remove all
    </button>
  </div>
</div>

    <mat-checkbox formControlName="isPhone">This product is a phone (add phone specs after saving)</mat-checkbox>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>